%h1 Listing recipe_ingredients

%table
  %tr
    %th Recipe
    %th Ingredient
    %th Quantity

  - @recipe_ingredients.each do |recipe_ingredient|
    %tr
      %td=h link_to h(recipe_ingredient.recipe.name), recipe_ingredient.recipe
      %td=h link_to h(recipe_ingredient.ingredient.name), recipe_ingredient.ingredient
      %td=h recipe_ingredient.quantity
      %td= link_to 'Show', [recipe_ingredient.recipe, recipe_ingredient]
      %td= link_to 'Edit', edit_recipe_recipe_ingredient_path(recipe_ingredient.recipe, recipe_ingredient)
      %td= link_to 'Destroy', [recipe_ingredient.recipe, recipe_ingredient], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New recipe_ingredient', new_recipe_recipe_ingredient_path(@recipe)
