%p
  %b Recipe:
  =h @recipe_ingredient.recipe.name

%p
  %b Ingredient:
  =h @recipe_ingredient.ingredient.name

%p
  %b Quantity:
  =h @recipe_ingredient.quantity

= link_to 'Edit', edit_recipe_recipe_ingredient_path(@recipe_ingredient.recipe, @recipe_ingredient)
|
= link_to 'Back', recipe_recipe_ingredients_path(@recipe_ingredient.recipe)
