%h1 BJCP 2008 Beer Styles

%ul.beer-styles
  - @beer_styles.each do |style|
    %li.beer-style
      = link_to style.name, beer_style_path(style)

      - if can? :destroy, style
        %span.actions
          = link_to '[X]', style, :confirm => 'Are you sure?', :method => :delete

= link_to 'New beer_style', new_beer_style_path if can? :create, BeerStyle
