%h1 BJCP 2008 Beer Styles

%table.beer-styles
  %thead
    %tr
      %th Name
      %th Category
      - if can? :destroy, BeerStyle
        %th delete
  %tbody
    - @beer_styles.each do |style|
      %tr.beer-style
        %td= link_to style.name, style
        %td= style.category

        - if can? :destroy, style
          %td.actions
            = link_to '[X]', style, method: :delete, data: { confirm: 'Are you sure?' }

= link_to('New beer style', new_beer_style_path, class: 'button') if can? :create, BeerStyle
