<p>
  <b>Name:</b>
  <%=h @beer_style.name %>
</p>

<p>
  <b>Description:</b>
  <pre>
    <%=h @beer_style.description %>
  </pre>
</p>


<%= link_to 'Edit', edit_beer_style_path(@beer_style) %> |
<%= link_to 'Back', beer_styles_path %>
