#tab-ingredients
  %h2 Fermentables
  #fermentable_additions_edit
    = render 'recipes/fermentable_additions_edit'

  %h2 Hops
  #hop_additions_edit
    = render 'recipes/hop_additions_edit'

  %h2 Yeast
  #yeast_additions_edit
    = render 'recipes/yeast_additions_edit'
