%fieldset.hops-vitals
  %legend Hop Profile
  .estimated-ibus
    %strong Estimated IBUs
    %span#calculated_ibus= @recipe.profile.IBUs.round(2)
  .bitterness-ratio
    %strong Bitterness Ratio
    %span= @recipe.profile.bitterness_ratio.round(2).to_s + ' IBUs/SG'
