%fieldset.fermentables-vitals
  %legend Malt Profile
  .gravity
    %strong Estimated SG
    %span#calculated_starting_gravity= @recipe.calculated_starting_gravity
    %br
    %strong Estimated FG
    todo
  .alcohol
    %strong Estimated ABV
    todo
    %br
    %strong Actual ABV
    todo
  .color
    %strong Color
    todo
