- uses_javascript_application(:recipe_builder)

#recipe.tabbed-content
  %ul{ data: { :'active-tab' => recipe_builder_active_tab_index } }
    %li
      %a{ href: "#tab-overview" } Overview
    - unless @recipe.new_record?
      %li
        %a{ href: "#tab-ingredients" } Ingredients
      - if @recipe.all_grain?
        %li
          %a{ href: '#tab-mash' } Mash Profile

  #tab-overview
    =render 'recipe_form'

  - unless @recipe.new_record?
    =render 'form_ingredients_tab'

    - if @recipe.all_grain?
      =render partial: 'form_mash_tab', locals: { mash_calculator: @recipe.mash_calculator }

