%h1 Editing Recipe

= render :partial => 'recipe_form'

= link_to 'Add Ingredient to Recipe', new_recipe_recipe_ingredient_path(@recipe)
%br
= link_to 'Show', @recipe
|
= link_to 'Back', recipes_path
