%h1 All Recipes

%ul.recipes
  - @recipes.each do |recipe|
    %li= render :partial => 'recipes/recipe', :locals => { :recipe => recipe }

- if can? :create, Recipe
  = link_to 'New recipe', new_recipe_path
- else
  %p
    = link_to('Log in', new_user_session_path)
    to create your own recipes
