<h1>Welcome to ShareBrew!</h1>
<p>
    ShareBrew is a place where homebrewers can record and track their beer
    recipes while sharing their recipes and experiences with other brewers.
</p>
<p>
    <%= link_to 'View Beer Styles', beer_styles_path %>
    <%= link_to 'View My Recipes', recipes_path %>
</p>
