%h1 Listing ingredients

%table
  %tr
    %th Name
    %th Description
    %th Type

- @ingredients.each do |ingredient|
  %tr
    %td=h ingredient.name
    %td=h ingredient.description
    %td=h ingredient.ingredient_type
    %td= link_to 'Show', ingredient
    %td= link_to 'Edit', edit_ingredient_path(ingredient)
    %td= link_to 'Destroy', ingredient, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New ingredient', new_ingredient_path
