fieldset {
  display: block;
  border: none;
  border-top: 1px solid #ccc;
  padding: 10px 0;

  legend {
    font-weight: bold;
    font-size: 13px;
    padding-right: 10px;
    color: #333;
  }

  form {
    padding-top: 15px;
  }

  p label {
    float: left;
    width: 150px;
  }
}

form {
  input, select, textarea {
    padding: 5px;
    color: #333333;
    border: 1px solid #ddd;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    background-color:#fff;
    font-family: $helvetica;
    font-size: 13px;
  }

  textarea {
    width: 90%;
  }

  input.formbutton {
    border: none;
    background: #333;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    font-family: $lucida-grande;
    letter-spacing: 1px;
    width: auto;
    overflow: visible;
  }
}

$error-border-color: #BB4545;
form #error_explanation {
  display: block;
  margin: 10px;
  border: 2px solid $error-border-color;
  border-radius: 6px;
  background-color: #f4f4f4;

  h2 {
    border-bottom: 2px solid $error-border-color;
    padding: 10px;
    font-size: 16px;
    background: #F12C2C;
  }

  ul {
    padding: 10px;
    margin-bottom: 10px;
  }
}

form .field_with_errors {
  display: inline-block;
  margin: 2px 2px;

  label {
    padding: 4px;
    color: $error-border-color;
    font-weight: bold;
  }

  input {
    border: 2px solid lighten($error-border-color, 10%);
    border-radius: 6px;
  }
}

.field-row {
  margin: 6px 10px;

  .field-group {
    display: inline-block;
  }
  .field {
    margin-right: 20px;
  }
}

