.add-hop {
  background-color: #eee;
  border: 1px solid #CCC;
  margin: 10px 0;
}

.gravity-block {
  margin-right: 80px;
}

#fermentables, #hops, .edit_recipe {
  @include span-columns(9);
  margin-bottom: 10px;
}

.fermentables-vitals, .hops-vitals, .style-guide, .recipe-profile {
  padding-top: 5px;
  margin-top: 20px;

  strong {
    display: inline-block;
    width: 100px;
  }
}

.beer-profile {
  .style-guide {
    @include span-columns(6);
  }
  .recipe-profile {
    @include span-columns(6);
  }

  .batch-attributes {
    @include row;
    .attribute {
      float: left;
      padding: 10px;
    }
  }
}

