.button-panel {
  float: right;
}

.add-hop {
  background-color: #eee;
  border: 1px solid #CCC;
  border-radius: 6px;
  margin: 10px 0;
  padding: 10px;
}

.gravity-block {
  margin-right: 80px;
}

#fermentables, #hops, .edit_recipe, .new_recipe {
  @include span-columns(9);
  margin-bottom: 10px;
}

form.edit_recipe, form.new_recipe {
  input[type='submit'] {
    @include button(simple, $main-color);
  }
}

.fermentables-vitals, .hops-vitals, .style-guide, .recipe-profile {
  padding-top: 5px;
  margin-top: 20px;

  strong {
    display: inline-block;
    text-align: right;
    padding-right: 3px;
    width: 90px;
  }

  div {
    padding: 2px 0;
  }
}

.fermentables-vitals, .hops-vitals {
  font-size: .8em;
}

.style-guide, .recipe-profile {
  @include span-columns(3);
  float: left;
  font-size: .8em;
  margin-right: 0px;

  h3, .name {
    text-align: center;
  }
  .name {
    font-size: 1.1em;
    margin: 0 auto;
    line-height: 2em;
    width: 100%;
    display: block;
  }
  span {
    display: inline-block;
    text-align: center;
    width: 15%;
  }
}

.beer-profile {

  .style-guide, .recipe-profile {
    font-size: 1.0em;
    strong {
      float: left;
      width: 140px;
    }
  }
  .style-guide div, .recipe-profile div {
    padding-left: 15px;
  }

  .style-guide, .recipe-profile {
    @include span-columns(6);
  }

  .batch-attributes {
    @include row;
    .attribute {
      float: left;
      padding: 10px;
    }
  }
}

form.edit_recipe, form.new_recipe {
  fieldset.beer-basics {
    .field-row {
      @include row;

      .field-group {
        @include span-columns(1 of 3);
        padding-right: 30px;
      }
    }

    select {
      width: 175px;
    }
  }
}

