#yeasts
  = render :partial => 'yeast_additions/recipe_listing',
           :collection => @recipe.yeast_additions,
           :as => :yeast_addition,
           :locals => { :show_controls => true }

  = link_to "Add Yeast", new_recipe_yeast_addition_path(@recipe),
    :remote => true, :'data-ingredient' => 'yeast'
