- show_controls = show_controls || false

.yeast-addition
  %span.yeast-name= yeast_addition.yeast.strain
  - if yeast_addition.use_starter
    %span.starter= "(#{yeast_addition.starter_size} ml starter)"

  - if show_controls
    .controls
      = link_to "Delete",
                [yeast_addition.recipe, yeast_addition],
                :method => :delete,
                :confirm => "Are you sure you want to delete the yeast addition?"
